extends layout

block content
    h1.mb-4=title
    div.card
        div.card-body
            form#uploadForm.mb-4.mt-4(method='POST' action=`${baseUrl}/upload` encType="multipart/form-data")
                div.form-group
                    label(for='uploadInput') File:
                    input#uploadInput.form-control-file(type='file' name='upload')
                button.btn.btn-primary(type='submit') Upload
    ul.list-group
        each item, index in list
            li.list-group-item
                div.d-flex.flex-column.flex-sm-row.justify-content-between.align-items-sm-center
                    div.p-2
                        span.mr-2(id=item.name)=item.name
                        span.mr-2 &ndash;
                        span.mr-2(id=item.size)=item.size
                        span bytes
                    div.d-flex.flex-column.flex-sm-row.justify-content-start
                        button.btn.btn-primary.mr-0.mr-sm-2.mb-2.mb-sm-0.copy-text(data-id=item.name, type="button") Copy name
                        button.btn.btn-info.mr-0.mr-sm-2.mb-2.mb-sm-0.copy-size(data-size=item.size, type="button") Copy size
                        button.delete.btn.btn-danger.mr-0.mr-sm-2.mb-2.mb-sm-0(data-item=item.name, type="button") Delete
                        a.btn.btn-primary(data-toggle="collapse", href=`#collapse${index}`, role="button", aria-expanded="false", aria-controls=`#collapse${index}`) Links
                div.collapse(id=`collapse${index}` )
                    div.p-2
                        div.d-flex.flex-column.flex-sm-row.justify-content-between.align-items-sm-center.py-2
                            pre(id=`file-${item.size}-${index}`)=`curl -H "Content-Range: bytes 0-1000/${item.size}" -X GET ${baseUrl}/files/get`
                            button.btn.btn-default.btn-xs.copy-link(type="button") Copy
                        div.d-flex.flex-column.flex-sm-row.justify-content-between.align-items-sm-center.py-2
                            pre(id=`size-${item.size}-${index}`)=`curl -X GET ${baseUrl}/files/getSize`
                            button.btn.btn-default.btn-xs.copy-link(type="button") Copy

